version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=1104
      - DB_NAME=movie_reviews
    depends_on:
      - postgres
    volumes:
      - .:/app

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=movie_reviews
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1104
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
